Since these parquet files are >100 MB, I can't commit them. This notebook splits them into separate parquet files so that I can commit each one.

In [5]:
import dask.dataframe as dd
import pandas as pd
import numpy as np

In [80]:
# Load the big parquet
ddf = dd.read_parquet('batch_1.parquet')

In [81]:
# This line runs the repartitioning code. 
# Uncomment and run to repartition
# ddf.repartition(npartitions=3).to_parquet('batch_1_repartitions/')

Let's check to make sure this really worked

In [82]:
batch_1 = pd.read_parquet('batch_1.parquet')
batch_1_0 = pd.read_parquet('batch_1_repartitions/part.0.parquet')
batch_1_1 = pd.read_parquet('batch_1_repartitions/part.1.parquet')
batch_1_2 = pd.read_parquet('batch_1_repartitions/part.2.parquet')

In [83]:
batch_1_0 == batch_1[0:batch_1_0.shape[0]]

          sensor_id  time  charge  auxiliary
event_id
24             True  True    True       True
24             True  True    True       True
24             True  True    True       True
24             True  True    True       True
24             True  True    True       True
...             ...   ...     ...        ...
1129174        True  True    True       True
1129174        True  True    True       True
1129174        True  True    True       True
1129174        True  True    True       True
1129174        True  True    True       True

[10930805 rows x 4 columns]

In [84]:
batch_1[0:5]

          sensor_id  time  charge  auxiliary
event_id
24             3918  5928   1.325       True
24             4157  6115   1.175       True
24             3520  6492   0.925       True
24             5041  6665   0.225       True
24             2948  8054   1.575       True

In [85]:
batch_1.head()

          sensor_id  time  charge  auxiliary
event_id
24             3918  5928   1.325       True
24             4157  6115   1.175       True
24             3520  6492   0.925       True
24             5041  6665   0.225       True
24             2948  8054   1.575       True

In [88]:
batch_1_0.tail()

          sensor_id   time  charge  auxiliary
event_id
1129174        5012  11212   1.325      False
1129174        2805  11213   0.925      False
1129174        4763  11213   0.775      False
1129174        4919  11213   0.875      False
1129174        4935  11213   0.925      False

In [ ]:
batch_1_0[batch_1_0.shape[0]:batch_1_0.shape[0]-]