In [1]:
import pandas as pd

In [2]:
meta = pd.read_parquet('train_meta.parquet')

In [5]:
meta = meta[meta.batch_id==10]

In [6]:
meta

,batch_id,event_id,first_pulse_index,last_pulse_index,azimuth,zenith
1800000,10,29296372,0,43,3.517532,1.616892
1800001,10,29296374,44,132,5.775634,0.199164
1800002,10,29296414,133,180,3.715111,0.769641
1800003,10,29296416,181,241,2.613874,1.399564
1800004,10,29296437,242,310,4.110431,1.054067
...,...,...,...,...,...,...
1999995,10,32567581,33242816,33242866,0.353034,1.329428
1999996,10,32567639,33242867,33242921,3.437011,1.079144
1999997,10,32567659,33242922,33242992,1.112257,2.569093
1999998,10,32567680,33242993,33243195,0.898184,2.139322
1999999,10,32567683,33243196,33243257,3.668670,1.910443

In [7]:
meta = meta.set_index('event_id')

In [10]:
meta = meta.drop(['batch_id'], axis=1)

In [12]:
meta.to_parquet('batch10_meta.parquet')