### Data Exploration

This file is just to play around with one of the batches to get a feel for it

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load batch_1 train into a DataFrame
batch1 = pd.read_parquet('../batches_train/batch_1.parquet')

In [4]:
batch1.head()

          sensor_id  time  charge  auxiliary
event_id
24             3918  5928   1.325       True
24             4157  6115   1.175       True
24             3520  6492   0.925       True
24             5041  6665   0.225       True
24             2948  8054   1.575       True

In [5]:
batch1_ = batch1.reset_index()

In [21]:
batch1_[['sensor_id']]

          sensor_id
0              3918
1              4157
2              3520
3              5041
4              2948
...             ...
32792411       1961
32792412         36
32792413        356
32792414       2826
32792415       5013

[32792416 rows x 1 columns]

In [17]:
i = 10183
batch1.iloc[i] == batch1_.iloc[i][['sensor_id','time','charge','auxiliary']]

sensor_id    True
time         True
charge       True
auxiliary    True
dtype: bool